@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import 'variables.css';
@import 'reset.css';
@import 'header.css';
@import 'footer.css';

.knowUs-container {
  width: 100%;
  margin: 0;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.knowUs {
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 25px;
}
.knowUs img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.knowUs-container:nth-child(even) {
 background-color: #F2F2E9;
}
.knowUs-description  h3 {
  font-family: var(--menu-font-family), sans-serif;
  font-size: 2em;
  margin-bottom: 5px;
}
.knowUs-description  p {
  width: auto;
  line-height: 1.3em;
}
.knowUs-schedule p{
  align-items: center;
  width: auto;
  font-size: .7em;
}
.knowUs-schedule h3{
  font-family: var(--menu-font-family), sans-serif;
  font-size: 2em;
  margin-bottom: 5px;
  align-items: center;
}
.knowUs-Contact p{
  align-items: center;
  width: auto;
  font-size: 1em;
}
.knowUs-Contact h3{
  font-family: var(--menu-font-family), sans-serif;
  font-size: 2em;
  margin-bottom: 5px;
  align-items: center;
}
.information input{
  width: 260px;
}
.information textarea{
  width: 260px;
}
.knowUs{
  align-items: center;
}

@media screen and (min-width: 1000px) {
}
