@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import 'variables.css';
@import 'reset.css';
@import 'header.css';
@import 'footer.css';
/*our history description*/
.knowUs-container {
  width: 100%;
  margin: 0;
  padding-top: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.knowUs {
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 25px;
}
.knowUs-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.knowUs img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.knowUs-description  h3 {
  font-family: var(--menu-font-family), sans-serif;
  font-size: 2em;
  margin-bottom: 5px;
}
.knowUs-description  p {
  width: auto;
  line-height: 1.3em;
  text-align: justify;
}
/*our history schedule*/
.schedule-container {
  width: 100%;
  margin: 0;
  padding-top: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2E9;
}
.schedule {
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 25px;
}
.knowUs-schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.schedule img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  margin-top: 15px;
}
.knowUs-schedule p{
  align-items: center;
  width: auto;
  font-size: .7em;
  line-height: 2.5em;
}
.knowUs-schedule h3{
  font-family: var(--menu-font-family), sans-serif;
  font-size: 2em;
  margin-bottom: 5px;
}

/*our history contact*/
.Contact-container {
  width: 100%;
  margin: 0;
  padding-top: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.knowUs-Contact {
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 25px;
  align-items: center;
}
.knowUs-Contact  h3 {
  font-family: var(--menu-font-family), sans-serif;
  font-size: 2em;
  margin-bottom: 5px;
}
.knowUs-Contact  p {
  width: auto;
  line-height: 1.3em;
  width: 250px;
  text-align: justify;
}
.information{
  align-items: center;
}
.information input{
  width: 260px;
}
.information textarea{
  width: 260px;
}
.btn{
width: 100px;
}
/*
@media screen and (min-width: 1000px) {
  .knowUs {
    position: relative;
      font-size: .9em;
      width: 100%;
  }
  .knowUs-description {
      position: absolute;
      top: 50px;
      left: 100px;
      width: 550px;
      height: 300px;
      justify-content: center;
  }
  .knowUs img {
     width: 600px;
     margin-left: 650px;
 }
  .knowUs-description  h3 {
      font-size: 2.5em;
      margin: 20px;
  }
  .knowUs-description  p {
    margin: 20px;
    padding: 0 20px;
      line-height: 1.8em;
    }
  #schedule{
      margin-left: 30px;
      margin-top: 30px;
  }
  .knowUs-schedule{
    margin-left: 700px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .knowUs-schedule  h3 {
      margin-top: -400px;
  }
  .knowUs-schedule p {
      width: 80%;
      margin-bottom: 230px;
      font-size: 1.3em;
      margin-bottom: 0;
  }
  .knowUs-Contact  h3 {
      align-items: center;
      margin-top: 20px;
  }
  .knowUs-Contact  p {
      width: 600px;
      line-height: 1.8em;
  }
  .information input{
  width: 400px;
  }
  .information textarea{
  width: 400px;
  }
}*/
