@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import 'variables.css';
@import 'reset.css';
@import 'header.css';
@import 'footer.css';

/* ------------Description pedicure-------------*/
.pedicure_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-top: 15px;
}

.pedicure_description{
  width: 90%;
  line-height: 1.3em;
  font-size: 1.1em;
}

.pedicure_container h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin-bottom: 5px;
}

/*--------------Types peducure----------------*/
.carrusel-container{
  position: relative;
  padding-top: 15px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pedicure-type-container {
  width: 80%;
  display: flex;
  overflow: hidden;
}

.type {
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  width: 100%;
  flex-shrink: 0;
  background-color: #ddcfb1;
  color: #2d170e;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all .5s ease-out;
}

.type:not(:last-child) {
  margin-right: 80%;
}

.type img{
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.type-description{
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  flex-shrink: 0;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
  transition: all .5s ease-out;
}

.type-description p{
  margin: 10px;
  text-align: center;
  width: 90%;
  line-height: 1.3em;
  font-size: 1em;
}

.type-description:not(:last-child) {
  margin-right: 80%;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  color: gray;
  font-size: 1em;
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}

.arrowLeft:hover,
.arrowRight:hover {
  opacity: .5;
}

.carrusel-container h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin-bottom: 5px;
}

/*--------------galery pedicure----------------*/

.galery-container{
  position: relative;
  padding-top: 15px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pedicure-galery-container {
  width: 80%;
  display: flex;
  overflow: hidden;
}

.galery {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
  transition: all .5s ease-out;
}

.galery:not(:last-child) {
  margin-right: 80%;
}

.galery img{
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

.arrow-galery-Left,
.arrow-galery-Right {
  position: absolute;
  top: 50%;
  color: gray;
  font-size: 1em;
}

.arrow-galery-Left {
  left: 10px;
}

.arrow-galery-Right {
  right: 10px;
}

.arrow-galery-Left:hover,
.arrow-galery-Right:hover {
  opacity: .5;
}

/* ------------pedicure appointment-------------*/
.pedicure-appointment{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-top: 15px;
}

.pedicure-appointment-description{
  width: 90%;
  line-height: 1.3em;
}

.pedicure-appointment h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin-bottom: 5px;
}

@media screen and (min-width: 1000px) {
  /* ------------Description pedicure-------------*/
  .pedicure_container{
    padding-top: 30px;
  }

  .pedicure_description{
    width: 60%;
    text-align: justify;
  }

/*types description*/
  .carrusel-container{
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .pedicure-type-container {
    width: 40%;
  }

  .type {
    font-size: .9em;
  }

  .type img{
    height: 300px;
    margin-bottom: 25px;
  }

  .type-description{
    width: 100%;
  }

  .arrowLeft,
  .arrowRight {
    font-size: 1em;
  }

  .arrowLeft {
    left: 50px;
  }

  .arrowRight {
    right: 50px;
  }

  /*--------------galery pedicure----------------*/

  .galery img{
    width: 50%;
    height: 400px;
  }

  .arrow-galery-Left {
    left: 50px;
  }

  .arrow-galery-Right {
    right: 50px;
  }

  /* ------------pedicure appointment-------------*/
  .pedicure-appointment{
    width: 100%;
    margin: 0;
    padding-top: 30px;
  }

  .pedicure-appointment-description{
    width: 60%;
    text-align: justify;
  }

  .pedicure-appointment-description{
    margin-bottom: 10%;
  }
}
