/*Variables*/
/* Initialize all elements*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.2em;
    margin-bottom: 15px;
    font-family: var(--logo-font-family), Helvetica, Arial, sans-serif;
}