@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

/*Variables*/
:root {
    --nav-color: #eba2a3;
    --logo-color: #fff;
    --menu-font-color: #fff;
    --logo-font-family: 'Source Sans Pro';
    --active-color: #DE3163;
    --highlighter-color: #f5c1d0;
    --menu-font-family: 'Playfair Display';
    --top-metric: 76px;
}

/* Initialize all elements*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.2em;
    margin-bottom: 15px;
    font-family: var(--logo-font-family), Helvetica, Arial, sans-serif;
}

/*1. NAV BAR*/

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

/*Navbar attributes*/
.navigation {
    font-family: 'Playfair Display', serif;
    display: flex;
    height: 76px;
    background-color: var(--nav-color);
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/*Logo attributes*/
div.logo {
    font-size: 12px;
    font-family: var(--logo-font-family), sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0.5em 1em;
    border: 2px solid var(--logo-color);
    width: 150px;
    text-transform: uppercase;
    letter-spacing: .25em;
    color: var(--logo-color);
    font-weight: bold;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

div.logo::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 170%;
    border: 2px solid var(--logo-color);
    left: 5%;
    top: -35%;
}

/*Burger menu container*/
.nav-burger {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

/*Burger button and pseudo elements common attributes*/
.burger-btn,
.burger-btn::before,
.burger-btn::after {
    height: 2px;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

/*Burger button attributes*/
.burger-btn {
    width: 20px;
    position: relative;
}

/*Burger button pseudo elements attributes*/
.burger-btn::before,
.burger-btn::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    right: 0;
}

/*Burger button before pseudo element attribute; makes it to be 8px over the burger button line*/
.burger-btn::before {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
}

/*Burger button after pseudo element attribute; makes it to be 8px below the burger button line*/
.burger-btn::after {
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
}

/*Burger button when it's clicked. Makes button line disappear*/
.nav-burger.open .burger-btn {
    background: transparent;
}

/*Burger button before pseudo element when it's clicked. Makes button before line rotate*/
.nav-burger.open .burger-btn::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*Burger button before pseudo element when it's clicked. Makes button after line rotate*/
.nav-burger.open .burger-btn::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/*Ul where the menu items are gonna be*/
ul.nav-items {
    position: fixed;
    left: 0;
    top: var(--top-metric);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 76px);
    background-color: var(--nav-color);
    width: 100%;
    padding-top: 55px;
    transform: translateX(101%);
    overflow: hidden;
    list-style: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    font-size: 1.25em;
}

ul.nav-items li {
    padding: 15px 0;
}

ul.nav-items li a {
    color: var(--menu-font-color);
    text-decoration: none;
}

ul.nav-items li a.active {
    color: var(--active-color);
    font-weight: bold;
}

#nav-menu.open {
    transform: translateX(0%);
}

#logo.open {
    transform: translateX(-115%);
}

span.underline {
    position: relative;
}

span.underline::before {
    content: '';
    position: absolute;
    width: 108%;
    border-radius: 3px;
    transform: scaleX(0);
    height: 7px;
    left: -5px;
    bottom: 6%;
    background-color: var(--highlighter-color);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
    z-index: -1;
}

span.active::before {
    background-color: azure;
}

ul.nav-items li a:hover span::before {
    transform: scaleX(1);
}
/*-----------------------------------NAV BAR FINISHED--------------------------------------*/

/*3. Products*/
 .products-container {
     width: 100%;
     margin: 0;
     padding-top: 15px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .product {
     font-family: 'Montserrat', sans-serif;
     font-size: .8em;
     color: #2d170e;
     display: flex;
     flex-direction: column;
     width: 75%;
     background-color: #ddcfb1;
     margin-bottom: 25px;
     border-radius: 5px;
     overflow: hidden;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }

 .product:nth-child(odd) {
     background-color: var(--nav-color);
     color: white;
 }

 .product-description {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .product img {
     width: 100%;
     height: auto;
     margin-bottom: 10px;
 }

 .product-description h3 {
     font-family: var(--menu-font-family), sans-serif;
     font-size: 2em;
     margin-bottom: 5px;
 }

 .product-description p {
     width: 90%;
     line-height: 1.3em;
 }

 .product-description a {
     z-index: 1;
     text-decoration: none;
     color: #2d170e;
     padding: 10px 25px;
     border: 2px solid #2d170e;
     margin: 25px 0 15px 0;
     position: relative;
     text-transform: uppercase;
 }

 .product:nth-child(odd) .product-description a {
     color: white;
     border-color: white;
 }

 .product-description a::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b1a68e;
    transform-origin: center top;
    transform: scaleY(0);
    transition: transform 0.25s ease-in-out;
 }

 .product:nth-child(odd) .product-description a::before {
     background-color: #d49293;
 }

 .product-description a:hover::before {
    transform-origin: center bottom;
    transform: scaleY(1);
 }

 /*-----------------------------------PRODUCTS FINISHED--------------------------------------*/

 /*4. Reviews*/
.reviews-section {
    position: relative;
    background-color: #F2F2E9;
    padding-top: 15px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .reviews-container {
     width: 80%;
     display: flex;
     overflow: hidden;
 }

 .review {
     font-family: 'Montserrat', sans-serif;
     font-size: .8em;
     width: 100%;
     flex-shrink: 0;
     background-color: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 5px;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     margin-bottom: 15px;
     position: relative;
     transition: all .5s ease-out;
 }

 .review:not(:last-child) {
     margin-right: 80%;
 }

 .review p {
     width: 80%;
     color: #898989;
     margin: 10%;
 }

 .review p::after {
     content: '';
     position: absolute;
     background-color: #EBEBEB;
     height: 1px;
     width: 80%;
     left: 10%;
     bottom: 28%;
 }

 .reviewer-name {
     margin-bottom: 15px;
 }
 
 #btnLeft,
 #btnRight {
     position: absolute;
     top: 50%;
     color: gray;
     font-size: 1em;
 }

 #btnLeft {
    left: 10px;
 }

#btnRight {
    right: 10px;
}

#btnLeft:hover,
#btnRight:hover {
    opacity: .8;
}

@media screen and (min-width: 1000px) {
    /*1. NAV BAR */
    nav.navigation > div.nav-burger {
        display: none;
    }

    div.logo {
        font-size: 14px;
        width: 180px;
        margin-left: 20px;
    }

    ul.nav-items {
        position: static;
        flex-direction: row;
        justify-content: center;
        height: auto;
        transform: translateX(0);
        padding: 0;
        width: auto;
        margin-right: 65px;
        font-size: 1em;
    }

    ul.nav-items li {
        padding: 0 15px;
    }

    ul.nav-items li:last-child {
        padding: 0 0 0 15px;
    }
    /*-----------------------------NAV BAR FINISHED------------------------------*/

    /*3. Products*/
    .products-container {
        padding-top: 50px;
        justify-content: none;
        max-width: 1200px;
        margin: 0 auto 25px auto;
    }

    .product {
        position: relative;
        font-size: .9em;
        display: block;
        width: 100%;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
    }

    .product img {
       width: 600px;
       margin-left: 80px;
       margin-bottom: 0;
   }

    .product-description {
        position: absolute;
        background-color: #ddcfb1;
        top: 50px;
        left: 620px;
        width: 550px;
        height: 300px;
        justify-content: center;
    }

    .product:nth-child(odd) {
        background-color: white;
    }

    .product-description p {
        width: auto;
        margin: 20px;
        padding: 0 20px;
    }

    .product:nth-child(odd) a {
        color: white;
        border-color: white;
    }

    .product:nth-child(odd) img {
        margin-left: 680px;
    }

    .product:nth-child(odd) .product-description {
     background-color: var(--nav-color);
     left: 180px;
    }
     /*-----------------------------------PRODUCTS FINISHED--------------------------------------*/
}