/*Variables*/
:root {
    --nav-color: #eba2a3;
    --logo-color: #fff;
    --menu-font-color: #fff;
    --logo-font-family: 'Source Sans Pro';
    --active-color: #DE3163;
    --highlighter-color: #f5c1d0;
    --menu-font-family: 'Playfair Display';
    --top-metric: 76px;
}