@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import 'abstract/variables';
@import 'base/reset';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/messages';

/*our history description*/
.about-us-container {
  width: 100%;
  margin: 0;
  padding-top: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.about-us {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 25px;
  &__image{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  &-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
      font-family: var(--menu-font-family), sans-serif;
      font-size: 2em;
      margin-bottom: 5px;
    }
    &__paragraph{
      width: auto;
      font-size: .9em;
      line-height: 1.3em;
      text-align: justify;
    }
  }
}
/*our history schedule*/
.schedule-container {
  width: 100%;
  margin: 0;
  padding-top: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2E9;
}
.schedule {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 25px;
  &__image{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  &-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
      font-family: var(--menu-font-family), sans-serif;
      font-size: 2em;
      margin-bottom: 5px;
    }
    &__paragraph{
      align-items: center;
      width: auto;
      font-size: .75em;
      line-height: 2.5em;
    }
  }
}
/*our history contact*/
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 90%;
  margin: 15px auto;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  &__title{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-bottom: 15px;
  }
  &__paragraph{
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    margin-bottom: 15px;
  }
}
.form {
  width: 100%;
}
.inputcontainer {
  display: flex;
  flex-direction: column;
}
.styleinputcontainer {
  position: relative;
  margin-bottom: 10px;
  &__label{
    font-size: 12.5px;
    color: #000;
    opacity: .8;
    font-weight: 400;
    position: absolute;
    top: calc(50% - 7px);
    left: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: -1;
    &--message{
        top: calc(15%);
    }
  }
  &__input{
    font-family: inherit;
    font-size: 16px;
    padding: 20px;
    height: 56px;
    border: none;
    border: solid 2px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    color: #000;
    font-weight: 400;
    -webkit-appearance: none;
    &--message{
      height: 155px;
    }
    &:focus{
      border-bottom: solid 2px #9274ce;
      outline: 0;
      box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
    }
    &:not(:placeholder-shown){
      padding: 28px 20px 12px 20px;
      & + label{
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
        opacity: .7;
        z-index: 1;
      }
    }
  }
}

.btncontainer {
  display: flex;
  justify-content: center;
}
.btn {
  font-family: inherit;
  -webkit-appearance: none;
  width: auto;
  text-align: center;
  padding: 10px 20px;
  background-color: #9274ce;
  color: #fff;
  font-size: 14px;
  width: 160px;
  font-weight: 500;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  outline: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  &:hover{
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
    &:active{
      -webkit-transform: scale(0.99);
              transform: scale(0.99);
    }
  }
}

@media screen and (min-width: 1000px) {
  /*our history description*/
  .about-us-container{
    margin-top: 10px;
  }
  .about-us {
    flex-direction: row-reverse;
    width: 85%;
    margin-bottom: 40px;
    margin-top: 90px;
    &__image{
      width: 50%;
      margin-left: 80px;
      flex-shrink: 0;
    }
    &-description{
      &__title{
        margin-top: -80px;
        margin-bottom: 25px;
      }
      &__paragraph{
        font-size: 1.2em;
        line-height: 1.5em;
      }
    }
  }
  /*our history schedule*/
  .schedule {
    flex-direction: row;
    width: 85%;
    margin-bottom: 60px;
    margin-top: 90px;
    &__image{
      width: 300px;
      margin-left: 60px;
      margin-top: -40px;
      margin-bottom: 0
    }
    &-description{
      margin-left: 250px;
      &__title{
        margin-top: -50px;
      }
      &__paragraph{
        font-size: 1em;
      }
    }
  }
  /* our history contact*/
  .contact-container {
    width: 50%;
    padding: 2% 5%;
  }
}
