<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nail Garden</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/account.css">
        <script src="https://kit.fontawesome.com/463141b2af.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a class="nav__logo-link" href="/">
                    <div class="nav__logo" id="logo">
                        Nail Garden
                    </div>
                </a>
                <div class="nav__burger">
                    <div class="nav__burger--btn"></div>
                </div>
                <ul class="nav__list" id="nav-menu">
                    <li class="nav__item"><a href="/" class="nav__link"><span class="nav__underline">Inicio</span></a></li>
                    <li class="nav__item"><a href="/about-us" class="nav__link"><span class="nav__underline">Conocenos</span></a></li>
                    <li class="nav__item"><a href="/manicure" class="nav__link"><span class="nav__underline">Manicure</span></a></li>
                    <li class="nav__item"><a href="/makeup" class="nav__link"><span class="nav__underline">Maquillaje</span></a></li>
                    <li class="nav__item"><a href="/pedicure" class="nav__link"><span class="nav__underline">Pedicure</span></a></li>
                    <li class="nav__item"><a href="/appointment" class="nav__link"><span class="nav__underline">Agendar cita</span></a></li>
                    <li class="nav__item"><a href="/profile" class="nav__link nav__link--highlight"><span class="nav__underline nav__underline--active">Perfil</span></a></li>
                    <li class="nav__item"><a href="/signout" class="nav__link"><span class="nav__underline">Cerrar sesi칩n</span></a></li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <section class="profile">
                <h1 class="profile__title" >Informaci칩n de perfil</h1>
                <section class="profile-information">
                    <div class="namecontainer">
                        <p class="profile-name__label">Nombre de perfil:</p>
                        <p class="profile-name__value">
                            <%= name %> 
                        </p>
                    </div>
            
                    <div class="emailcontainer">
                        <p class="profile-email__label">Correo electr칩nico:</p>
                        <p class="profile-email__value">
                            <%= email %> 
                        </p>
                    </div>
            
                    <div class="passwordcontainer">
                        <p class="profile-password__label">Contrase침a:</p>
                        <p class="profile-password__value">
                            &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
                        </p>
                    </div>
                </section>
            
                <section class="btncontainer">
                    <a href="/profile/edit" class="btn btn--edit">Editar perfil</a>
                    <a href="/profile/delete" class="btn btn--delete">Eliminar cuenta</a>
                </section>
                <%- include('../partials/messages'); -%>
            </section>
        </main>
        <footer class="footer">
            <a class="nav__logo-link" href="/">
                <div class="nav__logo" id="logo">
                    Nail Garden
                </div>
            </a>

            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#" class="footer__link">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">
                        <i class="fab fa-facebook"></i></i>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">
                        <i class="far fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </footer>
        <script src="javascripts/main.js"></script>
    </body>
</html>