<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nail Garden</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/index.css">
        <script src="https://kit.fontawesome.com/463141b2af.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a class="nav__logo-link" href="/">
                    <div class="nav__logo" id="logo">
                        Nail Garden
                    </div>
                </a>
                <div class="nav__burger">
                    <div class="nav__burger--btn"></div>
                </div>
                <ul class="nav__list" id="nav-menu">
                    <li class="nav__item"><a href="/" class="nav__link nav__link--highlight"><span class="nav__underline nav__underline--active">Inicio</span></a></li>
                    <li class="nav__item"><a href="/about-us" class="nav__link"><span class="nav__underline">Conocenos</span></a></li>
                    <li class="nav__item"><a href="/manicure" class="nav__link"><span class="nav__underline">Manicure</span></a></li>
                    <li class="nav__item"><a href="/makeup" class="nav__link"><span class="nav__underline">Maquillaje</span></a></li>
                    <li class="nav__item"><a href="/pedicure" class="nav__link"><span class="nav__underline">Pedicure</span></a></li>
                    <li class="nav__item"><a href="/appointment" class="nav__link"><span class="nav__underline">Agendar cita</span></a></li>
                    <% if(typeof authenticated !== 'undefined'){ %>
                        <li class="nav__item"><a href="/profile" class="nav__link"><span class="nav__underline">Perfil</span></a></li>
                        <li class="nav__item"><a href="/signout" class="nav__link"><span class="nav__underline">Cerrar sesión</span></a></li>
                    <% } else { %>
                        <li class="nav__item"><a href="/signin" class="nav__link"><span class="nav__underline">Iniciar sesión</span></a></li>
                    <% } %>
                </ul>
            </nav>
        </header>
        <main class="main">
            <article class="products-container">
            <h2 class="productcontainer__title">Servicios</h2>
                <div class="product">
                    <img class="product__image" src="./assets/slide-2.jpg" alt="nails">
                    <div class="product-description">
                        <h3 class="product-description__title">Manicure</h3>
                        <p class="product-description__paragraph">
                            El despertar de sus manos a través de la reparación con aceites esenciales, relajantes, combinado con antioxidantes rejuvenecedores con vitaminas y cremas hidratantes. Aporta a las manos una hidratación profunda,
                            revitaliza y rejuvenece.
                        </p>
                        <a href="/manicure" class="product-description__button">Ver más</a>
                    </div>
                </div>
                <div class="product">
                    <img class="product__image" src="./assets/slide-3.jpg" alt="nails">
                    <div class="product-description">
                    <h3 class="product-description__title">Maquillaje</h3>
                    <p class="product-description__paragraph">
                        Reciba un profesional cambio de look mientras aprende de las mejores y contemporáneas tendencias de maquillaje.
                        Si queres lucir radiante para ese momento especial, y aumentar tu confianza no dudes, en hacerte un espectacular maquillaje  en Nail Garden.
                    </p>
                    <a href="/makeup" class="product-description__button">Ver más</a>
                    </div>
                </div>
                <div class="product">
                    <img class="product__image" src="./assets/3.jpg" alt="nails">
                    <div class="product-description">
                    <h3 class="product-description__title">Pedicure</h3>
                    <p class="product-description__paragraph">
                        Produce una sensación de relajación total, hidratación profunda y eliminación de células muertas. Este
                        procedimiento es ideal para pies cansados, con callos y grietas; dejando los pies con una apariencia y sensación de bienestar envidiables.
                    </p>
                    <a href="/pedicure" class="product-description__button">Ver más</a>
                </div>
                </div>
            </article>

            <article class="reviews-section">
                <h2>Reseñas</h2>
                <div class="reviews-container">
                    <div class="review">
                        <p class="review__paragraph">
                            Nuestras manos son valiosas, pero  sufren las consecuencias de trabajos. Dale a tus manos la atención que se merecen, consiéntelas, cuídalas y por supuesto lúcelas siempre hermosas preparadas para cualquier ocasión.
                        </p>
                        <span class="review__name">Lucía retana</span>
                    </div>
                    <div class="review">
                        <p class="review__paragraph">
                            Gracias a Nail Garden, me siento cada vez mas hermosa y segura, amo los maquillajes que realizan y lo mejor es que tiene un excelente equipo de trabajo capacitado.
                        </p>
                        <span class="review__name">Laura Álvarez</span>
                    </div>
                    <div class="review">
                        <p class="review__paragraph">
                            Largas jornadas de trabajo hacen que mis pies sufran mucho, pero gracias a Nail Garden esto ha mejorado,
                            con los servicios de pedicure mis pies estan siempre descansados y listos para trabajar.
                        </p>
                        <span class="review__name">Carlos Alvarado</span>
                    </div>
                </div>
                <li class="review__btnLeft fas fa-arrow-left" id="btnLeft"></li>
                <li class="review__btnRight fas fa-arrow-right" id="btnRight"></li>
            </article>
            <section class="maps">
                <h2>Dirección</h2>
                <div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=9.975706, -84.842725&amp;q=Calle%2023%2C%20Puntarenas%20Province%2C%20Puntarenas+(Nail%20Garden)&amp;ie=UTF8&amp;t=&amp;z=19&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.gps.ie/">GPS coordinates</a></iframe></div>
            </section>
        </main>
        <footer class="footer">
            <a class="nav__logo-link" href="/">
                <div class="nav__logo" id="logo">
                    Nail Garden
                </div>
            </a>

            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#" class="footer__link">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">
                        <i class="fab fa-facebook"></i></i>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">
                        <i class="far fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </footer>
        <script src="javascripts/main.js"></script>
    </body>
</html>
