@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2em;
  margin-bottom: 15px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  font-family: 'Playfair Display', serif;
  display: flex;
  height: 76px;
  background-color: #eba2a3;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__logo-link {
  text-decoration: none;
}

.nav__logo {
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0.5em 1em;
  border: 2px solid #fff;
  width: 150px;
  text-transform: uppercase;
  letter-spacing: .25em;
  color: #fff;
  font-weight: bold;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
}

.nav__logo--open {
  transform: translateX(-115%);
}

.nav__logo::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 170%;
  border: 2px solid #fff;
  left: 5%;
  top: -35%;
}

.nav__burger {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: center;
  -webkit-align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
}

.nav__burger--btn {
  width: 20px;
  position: relative;
}

.nav__burger--btn--open {
  background: transparent;
}

.nav__burger--btn--open::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav__burger--btn--open::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.nav__burger--btn, .nav__burger--btn::before, .nav__burger--btn::after {
  height: 2px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
}

.nav__burger--btn::before, .nav__burger--btn::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  right: 0;
}

.nav__burger--btn::before {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
}

.nav__burger--btn::after {
  transform: translateY(8px);
  -webkit-transform: translateY(8px);
}

.nav__list {
  position: fixed;
  left: 0;
  top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 76px);
  background-color: #eba2a3;
  width: 100%;
  padding-top: 55px;
  transform: translateX(101%);
  overflow: hidden;
  list-style: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  font-size: 1.25em;
}

.nav__list--open {
  transform: translateX(0%);
}

.nav__item {
  padding: 15px 0;
}

.nav__link {
  color: #fff;
  text-decoration: none;
}

.nav__link--highlight {
  color: #DE3163;
  font-weight: bold;
}

.nav__link:hover .nav__underline::before {
  transform: scaleX(1);
}

.nav__underline {
  position: relative;
}

.nav__link:hover .nav__underline--active::before {
  background-color: azure;
}

.nav__underline::before {
  content: '';
  position: absolute;
  width: 108%;
  border-radius: 3px;
  transform: scaleX(0);
  height: 7px;
  left: -5px;
  bottom: 6%;
  background-color: #f5c1d0;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  z-index: -1;
}

@media screen and (min-width: 1000px) {
  .nav__burger {
    display: none;
  }
  .nav__logo {
    font-size: 14px;
    width: 180px;
    margin-left: 20px;
  }
  .nav__list {
    position: static;
    flex-direction: row;
    justify-content: center;
    height: auto;
    transform: translateX(0);
    padding: 0;
    width: auto;
    margin-right: 65px;
    font-size: 1em;
  }
  .nav__item {
    padding: 0 15px;
  }
  .nav__item:last-child {
    padding: 0 0 0 15px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eba2a3;
  height: 76px;
  padding: 10px 20px;
}

.footer__item {
  display: inline-block;
  font-size: 1.5em;
}

.footer__item:not(:last-child) {
  margin-right: 7px;
}

.footer__link {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  .nav__list {
    margin-right: 65px;
  }
}

.pedicureI_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-top: 15px;
}

.pedicureI_container-title {
  font-family: "Playfair Display", sans-serif;
  font-size: 2em;
  margin-bottom: 10px;
}

.pedicureI_container-description {
  width: 90%;
  line-height: 1.3em;
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
  text-align: justify;
}

.carousel_container {
  position: relative;
  padding-top: 15px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee7d8;
}

.carousel_container-titleC {
  font-family: "Playfair Display", sans-serif;
}

.carousel_container-title {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.carousel_container_btnLeft, .carousel_container_btnRight {
  position: absolute;
  top: 50%;
  color: gray;
  font-size: 1em;
}

.carousel_container_btnLeft:hover, .carousel_container_btnRight:hover {
  opacity: .5;
}

.carousel_container_btnLeft {
  left: 10px;
}

.carousel_container_btnRight {
  right: 10px;
}

.pedicure_type {
  width: 80%;
  display: flex;
  overflow: hidden;
}

.pedicure_type-container {
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  width: 100%;
  flex-shrink: 0;
  background-color: #ddcfb1;
  color: #2d170e;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all .5s ease-out;
}

.pedicure_type-container:not(:last-child) {
  margin-right: 80%;
}

.pedicure_type-container-image {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.type_description {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  flex-shrink: 0;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
  transition: all .5s ease-out;
}

.type_description-paragraph {
  margin: 10px;
  text-align: center;
  width: 90%;
  line-height: 1.3em;
  font-size: 1em;
}

.type_description:not(:last-child) {
  margin-right: 80%;
}

.galery_container {
  position: relative;
  padding-top: 15px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2E9;
}

.galery_container-title {
  font-family: "Playfair Display", sans-serif;
}

.galery_container_btnLeft, .galery_container_btnRight {
  position: absolute;
  top: 50%;
  color: gray;
  font-size: 1em;
}

.galery_container_btnLeft:hover, .galery_container_btnRight:hover {
  opacity: .5;
}

.galery_container_btnLeft {
  left: 10px;
}

.galery_container_btnRight {
  right: 10px;
}

.pedicure_container {
  width: 80%;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.pedicure_container-galery {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
  transition: all .5s ease-out;
}

.pedicure_container-galery:not(:last-child) {
  margin-right: 80%;
}

.pedicure_container-galery-image {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

.pedicure_appointment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-top: 15px;
}

.pedicure_appointment-description {
  width: 90%;
  line-height: 1.3em;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  margin-bottom: 25px;
}

.pedicure_appointment-title {
  font-family: "Playfair Display", sans-serif;
  font-size: 2em;
}

.btn_container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.btn_container-button {
  font-family: inherit;
  -webkit-appearance: none;
  width: auto;
  text-align: center;
  padding: 10px;
  background-color: #D11A2A;
  color: #fff;
  font-size: 14px;
  width: 160px;
  font-weight: 500;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  outline: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.btn_container-button:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
}

.btn_container-button:hover:active {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}

@media screen and (min-width: 1000px) {
  .pedicureI_container-description {
    width: 70%;
  }
  .carousel_container {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .carousel_container-title {
    font-size: 2em;
  }
  .carousel_container_btnLeft {
    left: 200px;
  }
  .carousel_container_btnRight {
    right: 200px;
  }
  .pedicure_type-container {
    font-size: .9em;
  }
  .pedicure_type-container-image {
    height: 400px;
    margin-bottom: 25px;
  }
  .pedicure_type-container-paragraph {
    width: 100%;
  }
  .pedicure_type {
    width: 40%;
  }
  .pedicure_container-galery-image {
    width: 50%;
    height: 450px;
    margin-left: 270px;
  }
  .galery_container_btnLeft {
    left: 200px;
  }
  .galery_container_btnRight {
    right: 200px;
  }
  .pedicure_appointment {
    width: 100%;
    margin: 0;
    padding-top: 30px;
  }
  .pedicure_appointment-description {
    width: 70%;
    text-align: justify;
    font-size: 1.1em;
    margin-bottom: 20px;
  }
}
