<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nail Garden</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/manicure.css">
        <script src="https://kit.fontawesome.com/463141b2af.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="navigation">
                <a class="logo-anchor" href="/">
                    <div class="logo" id="logo">
                        Nail Garden
                    </div>
                </a>
                <div class="nav-burger">
                    <div class="burger-btn"></div>
                </div>
                <ul class="nav-items" id="nav-menu">
                    <li><a href="/"><span class="underline">Inicio</span></a></li>
                    <li><a href="/about-us"><span class="underline">Conocenos</span></a></li>
                    <li><a href="/manicure" class="active"><span class="underline">Manicure</span></a></li>
                    <li><a href="/makeup"><span class="underline">Maquillaje</span></a></li>
                    <li><a href="/pedicure"><span class="underline">Pedicure</span></a></li>
                    <li><a href="/appointment"><span class="underline">Agendar cita</span></a></li>

                    <% if(typeof authenticated !== 'undefined'){ %>
                        <li><a href="/profile"><span class="underline">Perfil</span></a></li>
                        <li><a href="/signout"><span class="underline">Cerrar sesión</span></a></li>
                    <% } else { %>
                        <li><a href="/signin"><span class="underline">Iniciar sesión</span></a></li>
                    <% } %>
                </ul>
            </nav>
        </header>
        <main>
            <article class="manicure_container">
              <h3>Manicure</h3>
              <p class="manicure_description">
                El manicure consiste en el embellecimiento y cuidado de las manos, no es necesario que las uñas sean largas, súper coloreadas y maravillosas, es suficiente con que estén bien cuidadas para completar la apariencia general. Un manicure completo resulta atractivo para una misma y para los demás.
                La manicure consiste en la realización de una limpieza, exfoliación, empuje o eliminación de cutícula, limado y esmaltado de uñas y por ultimo un masaje de manos.
                Las uñas saludables son firmes y tienen un color rosado y válido. La superficie debe ser lisa, curva, sin manchas, hendiduras o arrugas.
              </p>
            </article>
            <article class="carrusel-container">
              <h2>Tipos</h2>
              <div class="manicure-type-container">
                <div class="type">
                  <img src="../images/1.jpg" alt="nails">
                  <div class="type-description">
                    <h3>Manicure Básico</h3>
                      <p>
                        La manicura básica es el tipo de manicura más simple que existe. Los pasos para hacerla son el desmaquillado de uñas, el corte y el limado, tratamiento de la cutícula y retirada y esmaltado. En nuestros salones contamos con más de 50 tonalidades.
                      </p>
                    </div>
                </div>
              <div class="type">
                <img src="../images/manicure.jpg" alt="nails">
                <div class="type-description">
                  <h3>Manicure Permanente</h3>
                    <p>
                    La manicura permanente incluye el esmaltado permanente de uñas, cuyos resultados permanecen durante tres semanas.
                    </p>
                </div>
              </div>
              <div class="type">
                <img src="../images/manicure4.jpg" alt="nails">
                <div class="type-description">
                  <h3>Manicure Completa</h3>
                  <p>
                  La manicura completa o spa sigue los pasos de la manicura básica añadiendo un proceso de exfoliación o peeling.
                  </p>
                </div>
              </div>
            </div>
          <li class="fas fa-arrow-left arrowLeft" id="btnLeft"></li>
          <li class="fas fa-arrow-right arrowRight" id="btnRight"></li>
          </article>
          <article class="galery-container">
            <h2>Galería</h2>
              <div class="manicure-galery-container">
                <div class="galery">
                  <img src="../images/manicure2.jpg" alt="nails">
                </div>
                <div class="galery">
                  <img src="../images/manicure5.jpg" alt="nails">
                </div>
                <div class="galery">
                  <img src="../images/manicure3.jpg" alt="nails">
                </div>
                <div class="galery">
                  <img src="../images/manicure1.jpg" alt="nails">
                </div>
                <div class="galery">
                  <img src="../images/2.jpg" alt="nails">
                </div>
            </div>
          <li class="fas fa-arrow-left arrow-galery-Left" id="btn-galery-Left"></li>
          <li class="fas fa-arrow-right arrow-galery-Right" id="btn-galery-Right"></li>
          </article>
          <article class="manicure-appointment">
          <h3>Agendá una cita</h3>
            <p class="manicure-appointment-description">
              Con el servicio de manicure ofrecemos la garantía de unas uñas envidiables. Sentí la diferencia de un manicure tradicional. Nuestros expertos en el cuidado de las manos te harán sentir una experiencia inigualable. Nuestro manicure correctivo es iniciado con un kit de seguridad e higiene, ¡cuidamos las manos de nuestros clientes! Todo está completamente esterilizado, utilizamos los productos de la línea de cuidado y prevención de Todo para sus manos. Por medio del pulido damos suavidad a tus manos y uñas.
              Todos nuestros servicios los realizamos con nuestra exclusiva técnica, y con personal altamente preparado.
            </p>
            <div class="btncontainer">
                <button class="btn" type="submit">Agendar cita</button>
            </div>
          </article>
        </main>
        <footer>
            <a class="logo-anchor" href="/">
                <div class="logo" id="logo">
                    Nail Garden
                </div>
            </a>

            <ul class="social-media">
                <li>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-facebook"></i></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="far fa-envelope"></i>
                    </a>
                </li>
            </ul>
      </footer>
      <script src="../javascripts/manicure.js"></script>
    </body>
</html>
