<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nail Garden</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/pedicure.css">
    <script src="https://kit.fontawesome.com/463141b2af.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navigation">
            <a class="logo-anchor" href="/">
                <div class="logo" id="logo">
                    Nail Garden
                </div>
            </a>
            <div class="nav-burger">
                <div class="burger-btn"></div>
            </div>
            <ul class="nav-items" id="nav-menu">
                <li><a href="/"><span class="underline">Inicio</span></a></li>
                <li><a href="/about-us"><span class="underline">Conocenos</span></a></li>
                <li><a href="/manicure"><span class="underline">Manicure</span></a></li>
                <li><a href="/makeup"><span class="underline">Maquillaje</span></a></li>
                <li><a href="/pedicure" class="active"><span class="underline active">Pedicure</span></a></li>
                <li><a href="/appointment"><span class="underline">Agendar cita</span></a></li>

                <% if(typeof authenticated !== 'undefined'){ %>
                    <li><a href="/profile"><span class="underline">Perfil</span></a></li>
                    <li><a href="/signout"><span class="underline">Cerrar sesión</span></a></li>
                <% } else { %> 
                    <li><a href="/signin"><span class="underline">Iniciar sesión</span></a></li>
                <% } %> 
            </ul>
        </nav>
    </header>
    <main>
      <article class="pedicure_container">
        <h3>Pedicure</h3>
        <p class="pedicure_description">
          Al igual que el manicure un pedicure significa el cuidado de los pies y su propósito es el de mejorar su apariencia y aspecto.
          El pedicure generalmente se refiere a la eliminación de células muertas de la piel, en la parte inferior de los pies, y  se  realiza frotándolos usado una áspera piedra llamada piedra pómez.
          El pedicure de Nail Garden, consiste en una desinfección, exfoliación, tratamiento de cutícula y uñas y por último un masaje.
        </p>
      </article>
      <article class="carrusel-container">
        <h2>Tipos</h2>
        <div class="pedicure-type-container">
          <div class="type">
            <img src="../images/4.jpg" alt="nails">
            <div class="type-description">
              <h3>Pedicure Básico</h3>
                <p>
                  El pedicure básico incluye el desmaquillado de uñas, el corte o el limado de las uñas, tratamiento y retirada de la cutícula, mantenimiento de las durezas, masaje de pies y medias piernas y esmaltado de uñas.
                </p>
              </div>
          </div>
        <div class="type">
          <img src="../images/image4.jpg" alt="nails">
          <div class="type-description">
            <h3>Pedicure Permanente</h3>
              <p>
                Este tipo de pedicura sigue todos los pasos de la básica pero usa un esmalte de uñas permanente, que dura tres semanas.
              </p>
          </div>
        </div>
        <div class="type">
          <img src="../images/image 3.png" alt="nails">
          <div class="type-description">
            <h3>Pedicure Completa</h3>
            <p>
            La pedicura completa spa añade una exfoliación o peeling después de retirar la cutícula de la uña y antes del mantenimiento de durezas.
            </p>
          </div>
        </div>
      </div>
    <li class="fas fa-arrow-left arrowLeft" id="btnLeft"></li>
    <li class="fas fa-arrow-right arrowRight" id="btnRight"></li>
    </article>
    <article class="galery-container">
      <h2>Galería</h2>
        <div class="pedicure-galery-container">
          <div class="galery">
            <img src="../images/galery5.jpg" alt="nails">
          </div>
          <div class="galery">
            <img src="../images/image6.jpg" alt="nails">
          </div>
          <div class="galery">
            <img src="../images/image7.jpg" alt="nails">
          </div>
          <div class="galery">
            <img src="../images/image8.jpg" alt="nails">
          </div>
          <div class="galery">
            <img src="../images/galery.jpg" alt="nails">
          </div>
      </div>
    <li class="fas fa-arrow-left arrow-galery-Left" id="btn-galery-Left"></li>
    <li class="fas fa-arrow-right arrow-galery-Right" id="btn-galery-Right"></li>
    </article>
    <article class="pedicure-appointment">
      <h3>Agende una cita</h3>
      <p class="pedicure-appointment-description">
        Con el servicio de Pedicure ofrecemos la garantía de unos pies totalmente sanos, libres de infecciones, uñas encarnadas o cualquier tipo de callosidad. Siente la diferencia de un pedicure tradicional. Nuestros expertos en el cuidado de los pies te harán sentir una experiencia inigualable. Nuestro Pedicure Correctivo es iniciado con un kit de seguridad e higiene, ¡cuidamos los pies de nuestros clientes! Todo está completamente esterilizado, utilizamos los productos de la línea de cuidado y prevención de Todo para sus Pies. Por medio del pulido damos suavidad a tus pies y uñas.
        Todos nuestros servicios los realizamos con nuestra exclusiva técnica, que evita que tus pies se expongan a infecciones que son favorecidas por la humedad.
      </p>
    </article>
    </main>
    <footer>
      <a class="logo-anchor" href="/">
          <div class="logo" id="logo">
              Nail Garden
          </div>
      </a>

      <ul class="social-media">
          <li>
              <a href="#">
                  <i class="fab fa-instagram"></i>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fab fa-facebook"></i></i>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="far fa-envelope"></i>
              </a>
          </li>
      </ul>
  </footer>
  <script src="javascripts/pedicure.js"></script>
</body>
</html>