<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nail Garden</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/pedi.css">
    <script src="https://kit.fontawesome.com/463141b2af.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
  <header class="header">
      <nav class="nav">
          <a class="nav__logo-link" href="/">
              <div class="nav__logo" id="logo">
                  Nail Garden
              </div>
          </a>
          <div class="nav__burger">
              <div class="nav__burger--btn"></div>
          </div>
          <ul class="nav__list" id="nav-menu">
              <li class="nav__item"><a href="/" class="nav__link"><span class="nav__underline">Inicio</span></a></li>
              <li class="nav__item"><a href="/about-us" class="nav__link"><span class="nav__underline">Conocenos</span></a></li>
              <li class="nav__item"><a href="/manicure" class="nav__link"><span class="nav__underline">Manicure</span></a></li>
              <li class="nav__item"><a href="/makeup" class="nav__link"><span class="nav__underline">Maquillaje</span></a></li>
              <li class="nav__item"><a href="/pedicure" class="nav__link nav__link--highlight"><span class="nav__underline nav__underline--active">Pedicure</span></a></li>
              <li class="nav__item"><a href="/appointment" class="nav__link"><span class="nav__underline">Agendar cita</span></a></li>
              <% if(typeof authenticated !== 'undefined'){ %>
                  <li class="nav__item"><a href="/profile" class="nav__link"><span class="nav__underline">Perfil</span></a></li>
                  <li class="nav__item"><a href="/signout" class="nav__link"><span class="nav__underline">Cerrar sesión</span></a></li>
              <% } else { %>
                  <li class="nav__item"><a href="/signin" class="nav__link"><span class="nav__underline">Iniciar sesión</span></a></li>
              <% } %>
          </ul>
      </nav>
    </header>
    <main>
      <article class="pedicureI_container">
        <h3 class="pedicureI_container-title">Pedicure</h3>
        <p class="pedicureI_container-description">
          Al igual que el manicure un pedicure significa el cuidado de los pies y su propósito es el de mejorar su apariencia y aspecto.
          El pedicure generalmente se refiere a la eliminación de células muertas de la piel, en la parte inferior de los pies, y  se  realiza frotándolos usado una áspera piedra llamada piedra pómez.
          El pedicure de Nail Garden, consiste en una desinfección, exfoliación, tratamiento de cutícula y uñas y por último un masaje.
        </p>
      </article>
      <article class="carousel_container">
        <h2 class="carousel_container-titleC">Tipos</h2>
        <div class="pedicure_type">
          <div class="pedicure_type-container">
            <img class="pedicure_type-container-image" src="../assets/4.jpg" alt="nails">
            <div class="type_description">
              <h3 class="carousel_container-title">Pedicure Básico</h3>
                <p class="type_description-paragraph">
                  El pedicure básico incluye el desmaquillado de uñas, el corte o el limado de las uñas, tratamiento y retirada de la cutícula, mantenimiento de las durezas, masaje de pies y medias piernas y esmaltado de uñas.
                </p>
              </div>
          </div>
        <div class="pedicure_type-container">
          <img class="pedicure_type-container-image" src="../assets/image4.jpg" alt="nails">
          <div class="type_description">
            <h3 class="carousel_container-title">Pedicure Permanente</h3>
              <p class="type_description-paragraph">
                Este tipo de pedicura sigue todos los pasos de la básica pero usa un esmalte de uñas permanente, que dura tres semanas.
              </p>
          </div>
        </div>
        <div class="pedicure_type-container">
          <img class="pedicure_type-container-image" src="../assets/image 3.png" alt="nails">
          <div class="type_description">
            <h3 class="carousel_container-title">Pedicure Completa</h3>
            <p class="type_description-paragraph">
            La pedicura completa spa añade una exfoliación o peeling después de retirar la cutícula de la uña y antes del mantenimiento de durezas.
            </p>
          </div>
        </div>
      </div>
    <li class="carousel_container_btnLeft fas fa-arrow-left" id="btnLeft"></li>
    <li class="carousel_container_btnRight fas fa-arrow-right" id="btnRight"></li>
    </article>
    <article class="galery_container">
      <h2 class="galery_container-title">Galería</h2>
        <div class="pedicure_container">
          <div class="pedicure_container-galery">
            <img class="pedicure_container-galery-image" src="../assets/galery5.jpg" alt="nails">
          </div>
          <div class="pedicure_container-galery">
            <img class="pedicure_container-galery-image" src="../assets/image6.jpg" alt="nails">
          </div>
          <div class="pedicure_container-galery">
            <img class="pedicure_container-galery-image" src="../assets/image7.jpg" alt="nails">
          </div>
          <div class="pedicure_container-galery">
            <img class="pedicure_container-galery-image" src="../assets/image8.jpg" alt="nails">
          </div>
          <div class="pedicure_container-galery">
            <img class="pedicure_container-galery-image" src="../assets/galery.jpg" alt="nails">
          </div>
      </div>
    <li class="galery_container_btnLeft fas fa-arrow-left" id="btn-galery-Left"></li>
    <li class="galery_container_btnRight fas fa-arrow-right" id="btn-galery-Right"></li>
    </article>
    <article class="pedicure_appointment">
      <h3 class="pedicure_appointment-title">Agendá una cita</h3>
      <p class="pedicure_appointment-description">
        Con el servicio de Pedicure ofrecemos la garantía de unos pies totalmente sanos, libres de infecciones, uñas encarnadas o cualquier tipo de callosidad. Siente la diferencia de un pedicure tradicional. Nuestros expertos en el cuidado de los pies te harán sentir una experiencia inigualable. Nuestro Pedicure Correctivo es iniciado con un kit de seguridad e higiene, ¡cuidamos los pies de nuestros clientes! Todo está completamente esterilizado, utilizamos los productos de la línea de cuidado y prevención de Todo para sus Pies. Por medio del pulido damos suavidad a tus pies y uñas.
        Todos nuestros servicios los realizamos con nuestra exclusiva técnica, que evita que tus pies se expongan a infecciones que son favorecidas por la humedad.
      </p>
      <div class="btn_container">
          <button class="btn_container-button" type="submit">Agendar cita</button>
      </div>
    </article>
    </main>
    <footer class="footer">
        <a class="nav__logo-link" href="/">
            <div class="nav__logo" id="logo">
                Nail Garden
            </div>
        </a>

        <ul class="footer__list">
            <li class="footer__item">
                <a href="#" class="footer__link">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">
                    <i class="fab fa-facebook"></i></i>
                </a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">
                    <i class="far fa-envelope"></i>
                </a>
            </li>
        </ul>
    </footer>
  <script src="javascripts/pedicure.js"></script>
</body>
</html>
